[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[init]
	defaultBranch = main
[user]
	name = kaue
	email = 90159661+fernandes-kaue@users.noreply.github.com
[core]
	hooksPath = /home/kaue/.git-hooks
